@media (max-width: 575.98px) { 

.container.early-access{
    color: white;
}

.container.early-access .card{
border-radius: 2rem;
border:none;
box-shadow: 4px 7px 33px #000000;
}
    #early-access-text{
padding: 3.25rem 1.5rem 2.2rem 1.5rem;
background-color:hsl(217, 28%, 15%); ;
border: none;
border-radius: 0.5rem!important;
}

#early-access-text h2{
    margin-bottom: 1rem ;
}

.form-control{
    border-radius: 2rem;
    padding: 1.6rem;
    margin:1.9rem 0  1.9rem 0;
    font-size: 0.65rem;
    color: lightgray;
    border:none;
}

.form-group .btn.btn-primary.btn-lg{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
}
    
