.container.early-access {
    color: white;
}
.container.early-access .card {
    border-radius: 2rem;
    border: none;
    box-shadow: 4px 7px 33px #000000;
}
#early-access-text {
    padding: 3.25rem 1.5rem 2.2rem 1.5rem;
    background-color: hsl(217, 28%, 15%);
    border: none;
    border-radius: 0.5rem!important;
}
#early-access-text h2 {
    margin-bottom: 1rem;
}
.form-control {
    border-radius: 2rem;
    padding: 1.6rem;
    margin: 1.9rem 0 1.9rem 0;
    font-size: 0.65rem;
    color: lightgray;
    border: none;
}
.form-group .btn.btn-primary.btn-lg {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
   .form-control{
       margin-left: 7.5%;
       width: 85%;
   }
    .form-group .btn.btn-primary.btn-lg {
        width: 70%;
        padding: 1rem;
        font-size: 1rem;
    }
    .container.early-access .card {
        box-shadow: 4px 7px 33px #000000;
    }
/* Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) {
        .card-text.text-center{
            padding:0 3rem 0 3rem;
        }
        #early-access-text {
            padding: 3.25rem 1.5rem 2.2rem 1.5rem;
            background-color: hsl(217, 28%, 15%);
            border: none;
            border-radius: 0.5rem!important;
        }



        /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .card-text.text-center{
        padding:0 2rem 0 2rem;
    }
    .form-group{
        display: flex;
        justify-content: space-evenly;
        margin: 0 2rem 0 2rem;
        
    }
    .form-control{
        margin-left: 2rem;
        width: 73%;
        margin-right: 2rem;

    }
     .form-group .btn.btn-primary.btn-lg {
         width: 42%;
         padding: 1rem;
         font-size: 1rem;
         height: 2%;
         margin-top: 3%;
         margin-right: 2rem;
     }
 

 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .card-text.text-center{
        padding:0 10rem 0 10rem;
    }

    .form-control{
        margin-left: 5rem;
        width: 73%;
        margin-right: 2rem;

    }

    .form-group .btn.btn-primary.btn-lg {
        width: 32%;
        margin-right: 4rem;
}

.container.early-access .card {
    box-shadow: 4px 7px 33px #000000;
}