.features{
    display: grid;
grid-template-columns: 41% 41%;
grid-gap: 3%;
text-align: center;
width: 100%;
padding: 25% 7.5% 5% 7.55%;
align-items: center;
color: white;
}

.features p{
    padding: 0;
    margin: 0;
    width:99%;
    color: white;
}
@media only screen and (max-width: 375px) {

/* Features */

.features{
    display: grid;
    grid-template-columns: 100%;
    grid-gap:6%;
    text-align: center;
    width: 100%;
    padding: 50% 0 0 0;
}

.feature-1, .feature-2, .feature-3, .feature-4{
    padding: 6%;
}

.features p{
    padding: 0;
    margin: 0;
    width:99%;
    color: white;
}

.features h2{
    color: white;
}
.feature-4{
    padding-bottom: 91%;
}

