/*Intro*/

.jumbotron {
    padding: 10% 0 0 0;
    text-align: center;
    color: white;
    background-color: hsl(217, 28%, 15%);
    margin: 0 0 5rem 0
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 8%;
}

.intro-image {
    width: 90%;
    position: relative;
    top: 59px;
    z-index: 2;
    margin-bottom: 5rem;
    margin-top: -8%;
}

.intro-curvy-image-desktop {
    display: none;
}

.intro-curvy-image-mobile {
    width: 100%;
    z-index: 1;
    display: block;
    top: 37%;
    position: absolute;
    left: 0;
}

.intro-text {
    padding: 6%;
    z-index: 2;
    position: relative;
}

.intro-text h1 {
    padding: 0;
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 26px;
    line-height: 2.5rem;
}

.intro-text p {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.btn {
    z-index: 2;
    border-radius: 28px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-image: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    width: 66%;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) {
    .intro-image {
        width: 71%;
        margin-bottom: 10%;
    }
    .intro-curvy-image-desktop {
        width: 100%;
        z-index: 1;
        top: 66%;
        display: block;
        position: absolute;
        left: 0;
    }
    .intro-curvy-image-mobile {
        display: none;
    }

    .intro-text p {
        padding: 0 5rem 0 5rem;
    }
    .intro-text h1 {
        font-size: 2rem;
    }

    .btn{
        width: 36%;
    }
    .intro-text .btn-lg {
        font-size: 1rem;
    }
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
        .jumbotron {
            padding: 0;
        }
        .intro-text {
            padding: 2rem 12rem 2rem 12rem;
        }
        .intro-image {
            margin-bottom: 4.5rem;
        }
        .intro-curvy-image-desktop {
            top: 60%;
        }
        
        /* Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {
            .intro-curvy-image-desktop {
                top: 73%;
            }
            .intro-text {
                padding: 2rem 16.5rem 2rem 16.5rem;
            }
            .btn {
                width: 37%;
            }
            
            @media (min-width: 1400px) {
                .jumbotron{
                    margin-bottom: 10rem;
                }
                .intro-image{
                    width: 50%;
                }
                .intro-text h1{
                    font-size: 2.5rem;
                    padding: 0 2rem 0 2rem;
                    margin-bottom: 2srem;
                    line-height: 3.5rem;
                }
                .intro-text {
                    padding: 2rem 16rem 2rem 16rem;
                }
                .intro-text p{
                   
                    padding: 0 13.5rem 0 13.5rem;
                    margin-bottom: 2rem;
                }

                .intro-curvy-image-desktop {
                    top: 65%;
                }