@media (min-width: 1400px){

.jumbotron{
    padding: 18% 0 0 0;
    text-align: center;
    color: white;
}
.intro-image{
    width: 52%;
    position: relative;
    z-index: 2;
    margin-bottom: 2%;
    margin-top: 11%;
}

.intro-curvy-image-desktop{
    width: 100%;
    z-index: 1;
    padding-bottom: -23%;
    top: 52%;
    display: block;
    position: absolute;
    left: 0;
}

.intro-curvy-image-mobile{
    display: none;
}


.intro-text{
    z-index: 2;
    position: relative;
}

.intro-text h1{
    z-index: 2;
    font-size:42px;
    padding: 0 22% 0 22%;
    }
}

        
.intro p {
    margin-left: 15%;
    margin-right: 15%;
    z-index: 2;
    margin-top: 0;
    margin-bottom: 2%;
    width: 37%;
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    text-align: center;
    line-height: 1.5rem;
}

@media (max-width: 575.98px) { 

/*Intro*/

.jumbotron{
        padding: 25% 0 0 0;
        text-align: center;
        color: white;
    }

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 8%;
}

.intro-image{
    width: 90%;
    position: relative;
    top: 40px;
    z-index: 2;
    margin-bottom: 18%;
    margin-top: -8%;

}
.intro-curvy-image-desktop{
    display: none;
}

.intro-curvy-image-mobile{
    width: 100%;
    z-index: 1;
    padding-bottom: -23%;
    display: block;
    top: 43%;
    position: absolute;
    left: 0;
}

.intro-text{
    padding: 6%;
    z-index: 2;
    position: relative;
}


.intro-text h1{
    padding: 0;
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 26px;
}

.intro-text p{
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.btn {
    z-index: 2;
    border-radius: 28px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-image: linear-gradient(90deg, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    width: 66%;
}