.navbar-toggler.collapsed {
  background-color: rgb(69, 183, 209);
  cursor: pointer;
}

.navbar-toggler {
  background-color: rgb(69, 183, 209);
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 1rem;
  cursor: pointer;
}

li.nav-item {
  padding-left: 3rem;
}

li.nav-item:hover {
  background-color: rgb(69, 183, 209);
}

a .nav-link {
  width: 100%;
}

.navbar {
  align-items: baseline;
  background-color: hsl(217, 28%, 15%);
}

nav.navbar-nav.mr-auto.mt-3 .nav-link a {
  border-bottom: transparent;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
  }
  li.nav-item:hover {
    background-color: transparent;
  }
}