@media (min-width: 1400px){
    .stay-productive-image{
        width: 60%;
    }


@media (max-width: 575.98px) {
    .stay-productive{
        overflow: hidden;
    }
    .stay-productive-image{
width: 90%;
    }

    a #how-fylo-works{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: hsl(176, 68%, 64%);
        border-bottom: hsl(176, 68%, 64%) 1px solid;
        text-decoration: none;
        padding-bottom: 7px;
        width: 55%;
        /* justify-content: center; */
        align-items: center;
        display: flex;
        cursor: pointer;
   }

  
   .how-fylo-works-arrow{
       height: 2rem;
   }

  



   /*
s.tay-productive-image{
    width:62%;
}
.stay-productive{
    line-height: 1rem;
    padding:27% 6% 6% 6%;
    
   display: flex;
}

.stay-productive-text{
    padding-left: 5%;
}

.stay-productive h2{
    text-align: left;
    width: 51%;
    color: white;
}

.stay-productive p{
    text-align: left;
    width: 70%;
    color: white;
}
}

span.how-fylo-works{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: hsl(176, 68%, 64%);
    border-bottom: hsl(176, 68%, 64%) 1px solid;
    text-decoration: none;
    padding-bottom: 7px;
    width: 55%;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    cursor: pointer;
    
}




.how-fylo-works-arrow{
    width: 10%;
    padding-left: 11px;
    position: static;
}
/*
@media only screen and (max-width: 375px) {
/*Stay Productive*/

.stay-productive-image{
    width:100%;
}
.stay-productive{
    line-height: 1rem;
   /* padding:27% 6% 6% 6%;*/
    color: white;
    display: block;
}

.stay-productive h2{
    text-align: left;
    margin: 6% 0% 2% 0%;
}

.stay-productive p{
    text-align: left;
    width: 100%;
}

.how-fylo-works{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: hsl(176, 68%, 64%);
    border-bottom: hsl(176, 68%, 64%) 1px solid;
    text-decoration: none;
    padding-bottom: 7px;
    width: 55%;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    cursor: pointer;
    
}





.how-fylo-works-arrow{
    width: 10%;
    padding-left: 11px;
    position: static;
}