
    a #how-fylo-works{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: hsl(176, 68%, 64%);
        border-bottom: hsl(176, 68%, 64%) 1px solid;
        text-decoration: none;
        padding-bottom: 7px;
        width: 55%;
        /* justify-content: center; */
        align-items: center;
        display: flex;
        cursor: pointer;
   }

  
  

.stay-productive{
    line-height: 1.5rem;
    color: white;   
    margin-bottom: 10rem;
}

.stay-productive h2{
    text-align: left;
    margin: 6% 0% 2% 0%;
}

.stay-productive p{
    text-align: left;
    width: 100%;
}

.stay-productive-link a#text-succes{
    color: white;
}

.stay-productive-link{
text-decoration: white;
}
.how-fylo-works{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: hsl(176, 68%, 64%);
    border-bottom: hsl(176, 68%, 64%) 1px solid;
    text-decoration: none;
    padding-bottom: 7px;
    width: 55%;
    align-items: center;
    display: flex;
    cursor: pointer;
    
}



.how-fylo-works-arrow{
    width: 8%;
    height: 8%;
    padding-left: 11px;
    position: static;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 .stay-productive .container-fluid.text-left.mt-5.pt-5.px-md-5{
     display: inline-flex;
     width: 100%;
     align-items: center;
}

.img-fluid{
    width: 63%;
    height: 63%;
}
h5{
    font-size: 1.5rem;
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    h5{
        font-size: 2rem;
    }
     
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .pl-md-5, .px-md-5 {
        padding-left: 6rem;
    }
    

    .pr-md-5, .px-md-5 {
        padding-right: 6rem;
    }
    


@media (min-width: 1400px){
    h5{
        width: 50%;
    }
    
    .stay-productive-text{
        width: 40%;
    }
    .img-fluid{
        width: 53%;
    }

