body {
    margin: 0;
    color: white;
    background: hsl(218, 28%, 13%);
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
}

p, button {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/*
a{
    color:  hsl(176, 68%, 64%);
    text-decoration: none;
        border-bottom: hsl(176, 68%, 64%) 1px solid;
        
        padding-bottom: 7px;
        width: 55%;
       /*/

align-items: center;
display: flex;
cursor: pointer;
*/
}

.footer-icon {
    font-size: 15px;
}

@media (min-width: 768px) {
    .btn {
        z-index: 2;
        border-radius: 28px;
        font-weight: 700;
        cursor: pointer;
        border: none;
        background-image: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        width: 50%;
    }
    .form-group .btn.btn-primary.btn-lg {
        width: 50%;
    }
    @media (max-width: 575.98px) {
        .btn {
            z-index: 2;
            border-radius: 28px;
            font-weight: 700;
            cursor: pointer;
            border: none;
            background-image: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
            width: 66%;
        }
        .btn-primary {
            background-image: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
            width: 66%;
        }
        h1 {
            font-size: 27px;
        }
        p {
            margin-bottom: 1.5rem;
        }
        h5 {
            margin-top: 2%;
        }
        a {
            color: hsl(176, 68%, 64%);
        }
        @media (min-width: 1400px) {
            .jumbotron {
                padding: 0;
            }
            h1 {
                font-size: 42px;
                margin-bottom: 1rem;
            }
            .btn {
                z-index: 2;
                border-radius: 28px;
                font-weight: 700;
                cursor: pointer;
                border: none;
                background-image: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
                width: 66%;
            }