@media (max-width: 575.98px) { 
.testimonials{
   margin-top: 5rem;
   padding-top: 5rem;
}

.container.text-left .card{
    box-shadow: 4px 7px 33px #000000;
}
.card-body{
    padding: 1.25rem 1.25rem 1.25rem 1.3rem;
    color: white;
}
p.card-text{
    font-size: 14px;
    margin: 1rem 0 2rem 0.5rem;
} 

.rounded-circle{
   width: 13%;
   height: 13%;
}

.container.text-left .card{
    margin-bottom: 3rem;
background-color: hsl(219, 30%, 18%);
    border-color:hsl(219, 30%, 18%); ;
    margin-bottom: 13%;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 19px 0 rgba(0, 0, 0, 0.1);
}









@media (min-width: 1400px){
   
   /*
    .testimonials {
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
        width: 100%;
        margin-top: 10%;
        /* margin: 5px; */
        /* margin: 22%; */
        /* grid-template-columns: 20% 33% 33%; */
        position: relative;
        z-index: 2;

    }

/*
.testimonial-profiles{
   letter-spacing: 0.5px;
    letter-spacing: 0.5px;
    align-items: center;
    /* width: 60%; */
    /* grid-template-columns: 33%; */
    letter-spacing: 0.5px;
    border-radius: 5px;
    /* padding: 2% 8% 6% 8%; */
    display: inline-flex;
    margin: 0 6% 0 3%;
    line-height: 1.5rem;
    z-index: 2;
    position: relative;
  
}
/*
.testimonial-profile-desc{
    text-align: left;
    color: white;
    padding: 22px 22px 0px 20px;
}
.profile-pic{
    height: 40px;
    border-radius: 48%;
    margin-right: 8px;
}

.testimonial-profile-name{
    color: white;
    font-weight: 700;
    padding-left: 19px;
    text-align: left;
    padding-left: 1px;
}

.profile-pic{
    margin-left: 22px;
}

.testimonial-profile-1, .testimonial-profile-2, .testimonial-profile-3{
    background-color: hsl(219, 30%, 18%);
    border-radius: 3px;
    margin-bottom: 13%;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 19px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-left: 3%;
    padding: 0 18px 23px 13px;
    /* margin-right: -2%; */
    /*padding: 1.2% 0% 1% 1.2%;*/
}

/*
span.testimonial-profile-job{
    font-size: 10px;
    font-weight: 400;
}


.profile-pic, .testimonial-profile-name, span.testimonial-profile-job{
    display: inline-block;
    
}


.testimonial-profiles{
    letter-spacing: 0.5px;
}


.quote-image{
    position: absolute;
    height: 13%;
    top: -44px;
    left: 75px;
    z-index: 1;
}




